<div class="mt-32 flex flex-col justify-center items-center">
  <div class="text-2xl font-bold mb-8">KVA Clothes</div>
  <div class="text-4xl font-bold">Fashion for Everyone</div>
  <div class="flex flex-col items-center my-10">
    <p class="w-[90%] text-justify text-xl pb-4">
      Stay ahead of the curve with our vibrant and trendy clothing collections.
      Fresh styles are added daily to ensure your wardrobe is always on point.
      From eye-catching accessories to standout outfits, explore the latest in
      fashion and make a statement wherever you go.
    </p>
    <p class="w-[90%] text-justify text-xl">
      Step into the season's hottest trends and must-have pieces with confidence.
      Our collection features bold patterns, vibrant colors, and innovative
      designs that let you express your unique style. Whether you're dressing up
      for a special event or keeping it casual, your new favorite outfit is just
      a click away.
    </p>
  </div>
  <button mat-raised-button color="accent" routerLink="product-list">
    Get Started
  </button>
</div>
