<div class="home-container">
  <div class="hero-section">
    <div class="hero-content">
      <h1>Nike</h1>
      <h2>Nike for Everyone</h2>
      <p>
        Welcome to Nike Shop, your one-stop destination for the latest in sports and athleisure wear. 
        Whether you're hitting the gym, going for a run, or just looking for comfortable and stylish 
        everyday wear, we've got you covered. Explore our extensive collection of sneakers, apparel, 
        and accessories designed to help you perform your best and look great doing it. With cutting-edge
         designs, premium materials, and unmatched quality, Nike Shop is where style meets performance. 
         Shop now and step up your game with Nike.
      </p>
      <button mat-raised-button color="accent" routerLink="product-list">
        Show products
      </button>
    </div>
  </div>
</div>
